# Ignorar pastas geradas pelo PyInstaller e outros artefatos de build
/build/
ReditorHTML.spec  

# Ignorar a pasta 'icon' que contém seu recurso de ícone
/icon/

# Ignorar executáveis e binários do sistema
*.dll
*.so